@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
pre {
    font-family: "Oxygen Mono", monospace;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}